# -----------------------------
# Python cache / bytecode
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environment
# -----------------------------
venv/
.venv/

# -----------------------------
# Streamlit cache
# -----------------------------
.streamlit/

# -----------------------------
# Temporary files
# -----------------------------
temp_uploaded_image.jpg
*.log

# -----------------------------
# OCR temporary or generated results
# -----------------------------
results/
results_fast/






# -----------------------------
# OS / Editor junk
# -----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
